.member-tabset > .nav-tabs > li.active {
border-bottom:4px solid #E95420;
position: relative;
}
.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
.member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
  }


