<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="TimerInterval" value="3600000" />
		<add key="GetDataAPImaxRetries" value="3" />
		<add key="GetDataAPIretryDelay" value="1000" />
		<add key="SetDataBDmaxRetries" value="3" />
		<add key="SetDataBDretryDelay" value="1000" />
	</appSettings>
	<connectionStrings>
		<add name="SQLite" connectionString="Data source=dating.db" />
	</connectionStrings>
</configuration>